# For Expo Web in browser on your laptop
# EXPO_PUBLIC_API_URL=http://localhost:5001

# For Expo Go on your phone (same Wi-Fi)
# EXPO_PUBLIC_API_URL=http://172.28.20.171:5001

# IMPORTANT: do not add /api at the end.
EXPO_PUBLIC_API_URL=http://localhost:5001
